@charset "UTF-8";

* {
    font-family:'Courier New', Courier, monospace;
}/*acesso global*/
/*
body{
    parâmetro que permite fazer degrade
    background-image: linear-gradient(to bottom, white, black 90%);
    parametro para manter fixo um objeto em relação ao scroll
    background-attachment: fixed;
}
*/
body {
    background-image: linear-gradient(to right, #F1D8C9, #eac5ad);
}
main{
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 20px 20px 10px rgb(128, 100, 63); /*direita, baixo e espalhar*/
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #e7992c;
    text-align: center;
    text-shadow: 1px 1px 5px #ac7222
}
h2{
    color: #F2C3A7
}
p{
    text-align: justify;
}